@model BugTracker.Models.Project
@{
    ViewBag.Title = Model.Name;
}
@section css {
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.alphabetSearch.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/dataTables.foundation.css" rel="stylesheet" />
    <link href="~/Content/dataTables.searchHighlight.css" rel="stylesheet" />
}
    <!------------------------------------------------------------------------------------------------------>
<div class="row">
    <!-------------------------------------------------------------------------------------------------------->
    <div class="col-lg-12">
        <!---------------------------------------------------------------------------------------------->
        <h3>@ViewBag.Title</h3>
        <div class="page-header"></div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-list fa-fw"></i> @Html.DisplayFor(model => model.Name)<span class="separator-o"> |</span>
        Created: @Html.DisplayFor(model => model.Created)
    @if (Model.Updated != null)
    {
        <span class="separator-o">| </span><span>Updated:</span> @Html.DisplayFor(model => model.Updated)
    }
    </div>
    <div class="panel-heading">
        <i class="fa fa-group fa-fw"></i>
        <span>Members: </span>@{
            var users = Model.Users.ToArray();
                              for (int i = 0; i < users.Length; i++)
			{
			 if(i == users.Length-1){
                 @users[i].DisplayName<span></span>
             }
             else{
                 @users[i].DisplayName<span>, </span>
             }
			}
}
    </div>
    @*
    <div class="panel-heading">
        <p>Created: @Html.DisplayFor(model => model.Created)</p>
    </div>
    @if (Model.Updated != null)
    {
        <div class="panel-heading">
            <p>Updated: @Html.DisplayFor(model => model.Updated)</p>
        </div>
    }*@
    <!-- /.panel-heading -->
    <div class="panel-body">
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
    <!-- /.panel-body -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-table fa-fw"></i> Tickets
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive col-xs-12">
                    <table class="table table-bordered table-hover table-striped" id="pdTicketTable">
                        <thead>
                            <tr>
                                <th>Ticket</th>
                                <th>Status</th>
                                <th>Created By</th>
                                <th>Created On</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@ticket.Status.Name</td>
                                    <td>@ticket.OwnerUser.DisplayName</td>
                                    <td>@ticket.Created</td>
                                    <td style="text-align:center;"><a href=@Url.Action("Details", "Tickets", new { id = ticket.Id}) title="@ticket.Title Details"><i class="fa fa-info-circle fa-lg"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("Create", "Tickets", new { projectId = Model.Id })" class="btn btn-primary">Create Ticket</a>
<br /><br />

@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/dataTables.jPaginator.js"></script>
    <script src="~/Scripts/dataTables.foundation.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.js"></script>
    <script src="~/Scripts/dataTables.searchHighlight.min.js"></script>

    <script>
        $(window).load(function () {
            $('#pdTicketTable').DataTable({
                responsive: true,
                stateSave: true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
            });
        })
    </script>
}