
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <!-- Timeline CSS -->
    <link href="~/Content/timeline.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="~/Content/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <h2>@ViewBag.Title.</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Access Denied</h3>
                    </div>
                    <div class="panel-body">
                        <h4 class="panel-body">You do not have permission to view the requested page.</h4>
                        <h4 class="panel-body">If you are not logged in, please <a href="@Url.Action("Register","Account")">register</a> and/or <a href="@Url.Action("Login","Account")">login</a> now.</h4>
                        <h4 class="panel-body">If you believe this message is not applicable to your circumstances, <br /> please <a href="@Url.Action("Contact","Home")">contact</a> the administrator <br />for further assistance.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>