@model BugTracker.Models.Ticket
@{
    ViewBag.Title = Model.Title;
}
    <!------------------------------------------------------------------------------------------------------>
<div class="row">
    <!-------------------------------------------------------------------------------------------------------->
    <div class="col-lg-12">
        <!---------------------------------------------------------------------------------------------->
        <h3>@ViewBag.Title</h3>
        <div class="page-header"></div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-list fa-fw"></i> @Html.DisplayFor(model => model.Title) <span class="separator-o">|</span>
        <span><b>Creator: </b>@Html.DisplayFor(model => model.OwnerUser.DisplayName)</span><span class="separator-o"> |</span>
        <span><b>Created: </b>@Html.DisplayFor(model => model.Created)</span> <span class="separator-o">|</span>
        @if (Model.Updated != null)
        {
            <span><b>Updated: </b>@Html.DisplayFor(model => model.Updated)</span><span class="separator-o"> |</span>
        }
        <span><b>Project: </b>@Html.DisplayFor(model => model.Project.Name)</span>
    </div>
    @if (Model.AssignedToUserId != null)
    {
        <div class="panel-heading">
            <p>This ticket has been assigned to @Html.DisplayFor(model => model.AssignedToUser.DisplayName).</p>
        </div>
    }
    else
    {
        <div class="panel-heading">
            <p><b>This ticket has not yet been assigned.</b></p>
        </div>
    }
    <!-- /.panel-heading -->
    <div class="panel-body">
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
    <!-- /.panel-body -->
</div>
    <p>
@if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
{

    if (ViewBag.CanEdit) { 
    <a href="@Url.Action("Edit", "Tickets", new { id = Model.Id })" class="btn btn-warning">Edit</a>}
    <a href="@Url.Action("Details", "Projects", new { id = Model.Project.Id })" class="btn btn-primary">Go To <b>@Model.Project.Name</b></a>
    <a href="@Url.Action("Index", "Tickets", new { })" class="btn btn-primary">Go To Ticket List</a>
}
    </p>
<div class="row">
    <div class="col-xs-6">
        @if (ViewBag.CanCommentAndAttach)
        {
            //using (Html.BeginForm())
            //{
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Post Comment</h4>
                </div>
                <form action="@Url.Action("CreateComment")" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="TicketId" value="@Model.Id" />
                    <textarea name="Comment" rows="5" style="width:100%; margin-bottom:0px;" placeholder="Your Comment Here..." id="comment"></textarea>
                    <br />
                    <input type="submit" value="Submit" class="btn btn-theme btn-block" style="margin-top:-6px;" />
                </form>
            </div>
            //}
        }
        @if (Model.Comments.Count > 0)
        {
            <h4><u>Comments</u></h4>
            foreach (var comment in Model.Comments)
            {
                <div class="row">
                    <div class="col-sm-12 panel-default">
                        <!--<div class="commentContainer" style="border: ridge 3px #ddd; border-radius:5px; background-color:#ddd;">-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p>
                                    <csmall><b>By: </b>@Html.DisplayFor(modelItem => comment.User.DisplayName)</csmall><span class="separator-o"> |</span>
                                    <csmall><b>Date: </b> @Html.DisplayFor(modelItem => comment.Created)</csmall>
                                </p>
                                <div>
                                    @Html.DisplayFor(modelItem => comment.Comment)
                                </div>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-xs-6">
    @if (ViewBag.CanCommentAndAttach)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Add Attachment</h4>
            </div>
            <form action="@Url.Action("AddAttachment")" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="hidden" name="TicketId" value="@Model.Id" />
                <div id="steve">
                    <input name="file" type="file" class="" id="fileUpload" style="width:100%;"/>
                    <textarea type="text" name="Description" id="Description" rows="4" placeholder="Attachment Description" style="width:100%; margin-bottom:0px; margin-top:-1px;"></textarea>
                    <input type="submit" value="Submit" class="btn btn-theme btn-block" style="margin-top:-6px;" />
                </div>
            </form>
        </div>
    }
    @if (Model.Attachments.Count > 0)
    {
        <h4><u>Attachments</u></h4>
        foreach (var attachment in Model.Attachments)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <!--<div class="commentContainer" style="border: ridge 3px #ddd; border-radius:5px; background-color:#ddd;">-->
                                <p><b>Added On: </b>@attachment.Created.ToString("MM/dd/yyyy hh:mm tt")</p>
                                <p><b>Added By: </b>@attachment.User.DisplayName</p>
                                <p><b>Description: </b>@attachment.Description</p>
                                <p><img class="img-responsive attachment" src="@attachment.FileUrl" alt="" style="width:100%; margin-bottom:-10px;" /></p>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    </div>
</div>
<br />
<br />
@if (Model.Histories.Count > 0) { 
    <h4><u>Ticket History</u></h4>
    foreach (var history in Model.Histories)
    {
        if (history.Property == "AssignedToUserId" || history.Property == "Description" || history.Property == "TicketTypeId" || history.Property == "TicketStatusId")
        { 
        <div class="panel panel-default">
            <div class="panel-heading">
                The <b>@history.PropertyDisplay</b> was <b>changed from</b> @(history.OldValueDisplay ?? "unset") <b>to</b> @(history.NewValueDisplay ?? "unset"), <b>on</b> @history.Changed.ToString("g")
            </div>
        </div>
        }
        else if (history.Property == "Comments")
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    A <b>@history.PropertyDisplay</b> was <b>added</b> by @(history.User.DisplayName ?? "a removed user"), <b>on</b> @history.Changed.ToString("g").
                </div>
            </div>
        }
        else if (history.Property == "Attachments")
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    An <b>@history.PropertyDisplay</b> was <b>added</b> by @(history.User.DisplayName ?? "a removed user"), <b>on</b> @history.Changed.ToString("g").
                </div>
            </div>
        }
        else if (history.Property == "Notifications")
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    A <b>@history.PropertyDisplay</b> was <b>sent</b> to @Model.AssignedToUser.DisplayName <b>on</b> @history.Changed.ToString("g").
                </div>
            </div>
        }
    }
    <br />
    <br />
}