@model IEnumerable<BugTracker.Models.Ticket>
@{
    ViewBag.Title = "Tickets"; 
}
@section css {
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.alphabetSearch.css" rel="stylesheet" />
    <link href="~/Content/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/Content/dataTables.foundation.css" rel="stylesheet" />
    <link href="~/Content/dataTables.searchHighlight.css" rel="stylesheet" />
}
@if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-responsive table-bordered" id="userTickets">
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    Assigned To Ticket
                </th>
                <th>
                    Ticket Creator
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUser.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.DisplayName)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />}
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (User.IsInRole("Admin")){
                        <br />@Html.ActionLink("Delete", "Delete", new { id = item.Id }) }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <center>
        <h3>Currently you do not have permission to view tickets.</h3>
        <h3>Contact the administrator to obtain access.</h3>
    </center>
}
@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.jqueryui.min.js"></script>
    <script src="~/Scripts/dataTables.jPaginator.js"></script>
    <script src="~/Scripts/dataTables.foundation.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.js"></script>
    <script src="~/Scripts/dataTables.searchHighlight.min.js"></script>

    <script>
        $(window).load(function () {
            $('#userTickets').DataTable({
                responsive: true,
                stateSave: true,
                autoWidth: true
            });
        })
    </script>
}